{% extends 'rango/base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Login</h1>
    </div>
</div>

<form method="post" action=".">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Log In" />
    <input type="submit" name="next" value="{{ next }}" />
</form>

<p>
    Not registered?
    <a href="{% url 'registration_register' %}">Register here!</a>
</p>
{% endblock %}