{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Search with Rango</h1>
    </div>
</div>
<div>
    <form class="form-inline" id="user-form" method="post" action="{% url 'rango:search' %}">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" size="50" name="query" id="query" />
        </div>

        <button class="btn btn-primary" type="submit" name="submit">Search</button>
    </form>
</div>
<div>
    {% if result_list %}
    <h2>Results</h2>

    <div class="list-group">
    {% for result in result_list %}
        <div class="list-group-item">
            <h3 class="list-group-item-heading">
                <a href="{{ result.link }}">{{ result.title|safe|escape }}</a>
            </h3>
            <p class="list-group-item-text">
                {{ result.summary|safe|escape }}
            </p>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}